<div class="col forYouBox">
    <div class="row whiteText">
        WHAT CAN WE
    </div>
    <div class="row whiteText">
        ANSWER 
        <div class="yellowText">&nbsp;FOR YOU</div>
    </div>
</div>

<div class="row mx-4">
    <div class="col bg-yellow m-4 p-3">
        <h1 class="whiteText ml-1">How<span class="title">&nbsp;Git Surveys&nbsp;</span> Works...</h1>
            <ol class="h3">
                <li>Sign-up</li>
                <li>Create a survey in your dashboard</li> 
                <li>Generate the link</li>
                <li>Share the link with your friends!</li>
                <li>Revisit GitSurveys to view the results!</li>
            </ol>
    </div>

    <div class="col bg-yellow m-4 pt-2">
        <h1 class="text-center title">Example Surveys</h1>
        <div class="row justify-content-center">
            <div id="carouselExampleIndicators" class="carousel w-100" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                </ol>
            <div class="carousel-inner p-5">
                <div class="carousel-item active">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">What is your favorite ice cream?</h5>
                            <p class="card-text">Date Created: 9/20/2022</p>
                            <a href="/survey/{{id}}" class="btn custom-btn py-1">View</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Which basketball player is the GOAT?</h5>
                            <p class="card-text">Date Created: 9/20/22</p>
                            <a href="/survey/{{id}}" class="btn custom-btn py-1">View</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Who is the best 90s band?</h5>
                            <p class="card-text">Date Created: 9/20/22</p>
                            <a href="/survey/{{id}}" class="btn custom-btn py-1">View</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">What is your favorite Olympic event?</h5>
                            <p class="card-text">Date Created: 9/20/2022</p>
                            <a href="/survey/{{id}}" class="btn custom-btn py-1">View</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Which animal makes the best pet?</h5>
                            <p class="card-text">Date Created: 9/20/22</p>
                            <a href="/survey/{{id}}" class="btn custom-btn py-1">View</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Most comfortable running shoe?</h5>
                            <p class="card-text">Date Created: 9/20/22</p>
                            <a href="/survey/{{id}}" class="btn custom-btn py-1">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
        </div>
    </div>
</div>

<div class="row mx-4">
    <div class="col bg-yellow text-center m-4 p-4">
        <h1 class="title">Walkthrough Video</h1>
        <video class="w-100 mt-3" controls>
            <source src="/images/placeholdervideo.webm" type="video/webM">
            Your browser does not support the video tag.
        </video> 
        <p class="mb-small">*Placeholder video*</p>
    </div>

    <div class="col bg-yellow text-center m-4 p-2">
        <img src="/images/checkgraphic.jpg" alt="checkbox graphic" id="homepageGraphic" class="w-100"><br>
        <a href="https://www.freepik.com/free-vector/young-worker-man-woman-chooses-check-mark-puts-it-check-survey-box-cartoon-vector-illustration_22821972.htm#query=survey&position=37&from_view=keyword" class="mb-small">Image by jcomp</a> on Freepik
    </div>
</div>