{{!-- {{#each surveys as |survey|}} --}}
{{!-- change image path to ./images/{{img_id}}.jpg --}}
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
            <div class="card">
                <a href="/survey/{{id}}"><img src="./images/1.jpg" class="card-img-top tint" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{date_created}}</p>
                    <a href="/survey/{{id}}" class="btn custom-btn py-1">View Survey</a>
                </div>
            </div>
        </div>
{{!-- {{/each}} --}}


        <div class="col mb-4">
            <div class="card">
                <img src="./images/2.jpg" class="card-img-top tint" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{date_created}}</p>
                    <a href="/post/{{id}}" class="btn custom-btn py-1">View Survey</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="./images/3.jpg" class="card-img-top tint" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{date_created}}</p>
                    <a href="/post/{{id}}" class="btn custom-btn py-1">View Survey</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="./images/1.jpg" class="card-img-top tint" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{date_created}}</p>
                    <a href="/post/{{id}}" class="btn custom-btn py-1">View Survey</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="./images/2.jpg" class="card-img-top tint" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{date_created}}</p>
                    <a href="/post/{{id}}" class="btn custom-btn py-1">View Survey</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="./images/3.jpg" class="card-img-top tint" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{date_created}}</p>
                    <a href="/post/{{id}}" class="btn custom-btn py-1">View Survey</a>
                </div>
            </div>
        </div>


    </div>