<div class="container topMargin bg-white rounded p-3">

    {{!-- TITLE/DATE CREATED/ID --}}
    <div class="text-center">
        <h1 class="title">{{survey.title}}</h1>
        <p><b>Created on: </b>{{format_date survey.date_created}} </p>
        <p><b>Share link: </b>GitSurveys.com/survey/{{survey.id}}</p>
    </div>

    <table class="table bg-white p-5">
        <thead class="thead bg-white">
            <tr class="h3 techFont pb-0">
                {{!-- QUESTION --}}
                <th scope="col">{{survey.question}}</th>
                <th scope="col">Results</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sameGroup" id="result1" value="{{option1}}"
                            checked>
                        <label class="form-check-label" for="exampleRadios1">
                            {{!-- OPTION 1 --}}
                            {{option1}}
                        </label>
                    </div>
                </th>
                <td>
                    <div class="progress">
                        {{!-- RESULTS 1 --}}
                        <div class="progress-bar progress-bar-striped bg-warning  text-dark" role="progressbar" style="width: 1%"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sameGroup" id="result2" value="{{option2}}"
                            checked>
                        <label class="form-check-label" for="exampleRadios1">
                            {{!-- OPTION 2 --}}
                            {{option2}}
                        </label>
                    </div>
                </th>
                <td>
                    <div class="progress">
                        {{!-- RESULTS 2 --}}
                        <div class="progress-bar progress-bar-striped bg-warning  text-dark" role="progressbar" style="width: 1%"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sameGroup" id="result3" value="{{option3}}"
                            checked>
                        <label class="form-check-label" for="exampleRadios3">
                            {{!-- OPTION 3 --}}
                            {{option3}}
                        </label>
                    </div>
                </th>
                <td>
                    <div class="progress">
                        {{!-- RESULTS 3 --}}
                        <div class="progress-bar progress-bar-striped bg-warning  text-dark" role="progressbar" style="width: 1%"
                            aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sameGroup" id="result4" value="{{option4}}"
                            checked>
                        <label class="form-check-label" for="exampleRadios4">
                            {{!-- OPTION 4 --}}
                            {{option4}}
                        </label>
                    </div>
                </th>
                <td>
                    <div class="progress">
                        {{!-- RESULTS 4 --}}
                        <div class="progress-bar progress-bar-striped bg-warning text-dark" role="progressbar" style="width: 1%"
                            aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

   
    <button type="submit" class="btn custom-btn" id="submit" type="button" data-toggle="modal" data-target="#exampleModal">Submit</button>

    <!-- SURVEY SUBMISSION MODAL -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-black techFont whiteText content_center border-light p-3">
               Thank you for your submission.
                <a href="/">Continue</a> 
            </div>
        </div>
    </div>

</div>